.wrapper {
  overflow: hidden;
  min-height: 100%;
  position: relative;
}
body {
  background: url(../img/back.jpg) 0 0 / cover no-repeat;
}
.animation__witch {
  background: url(../img/1.png) 0 0 / cover no-repeat;
  width: 450px;
  height: 320px;
  top: 200px;
  position: relative;
  animation: witch 6s linear forwards;
}
@keyframes witch {
  0% {
    transform: translate(-100%, 0px);
  }
  25% {
    transform: translate(400px, -200px);
  }
  75% {
    transform: translate(500px, 100px);
  }
  100% {
    transform: translate(2000px, 0px);
  }
}
.animation__moon {
  background: url(../img/3.png) 0 0 / cover no-repeat;
  width: 300px;
  height: 300px;
  bottom: 300px;
  left: 1600px;
  position: relative;
  animation: moon 200s linear forwards infinite;
}

@keyframes moon {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.animation__bat {
  background: url(../img/02.png) 0 0 / cover no-repeat;
  width: 300px;
  height: 300px;
  position: relative;
  bottom: 500px;
  left: 400px;
  opacity: 0;
  animation: bat 2s ease 6s forwards;
}

@keyframes bat {
	0% {
	}
	100% {
		transform: translate(0px, 0%);
		opacity: 1;
	}
}